.login-form {
  width: 80%;
  margin-left: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2%;
  margin-top: 5%;
}
.login-form input {
  width: 98%;
}
.login-form button {
  margin-left: 30%;
  width: 40%;
  margin-top: 2%;
}
